{{#extends "base"}}
{{#block "content"}}
<h1>Create new product</h1>
<form method="POST">
  <input type="hidden" name="_csrf" value="{{csrfToken}}" />
  {{{form}}}

  <input type="submit" value="Create new product" class="btn btn-primary" />
</form>
{{/block}}
{{/extends}}